#articles {
  text-align: center;
}

#articles img {
  height: 50%;
  width: 50%;
  margin-bottom: 10px;
}

#articles h1 {
  color: #13ACE8;
}

.article-body {
  text-align: left;
}

header {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
  height: 30px;
}
